body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family:Helmet,Freesans,Helvetica,Arial,sans-serif;
    background: white;
    box-sizing: border-box;
    position: normal;
}

.histogram {
    width: 680px;
    height: 325px;
    display: table;
    background-color:white;
}

.bar-container {
    display: table-cell;
    width: 16%;
    float: left;
    position: relative;
}

.bar {
  color: white;
  width: 100px;;
  background-color: blue;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.bar-con {
    background-color: #0575c9;
    height: 65%;
}

.bar-lab {
  background-color: #e91d0e;
  height: 40%;
}

.bar-snp {
  background-color: #f8ed2e;
  height: 20%;
}

.seats-table {
  width: 100%;
  box-sizing:border-box;
  border-spacing: 0;
}

thead {
  background: #404040;
  color: white;
  margin: 0px;
  padding:0px;
}

 .cell {
  float: center;
  text-align: center;
}

 .vh {
   position: absolute;
   overflow: hidden;
   width: 1px;
   height: 1px;
 }
