body {
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: white;
  box-sizing: border-box;
  position: normal;
  background-color: #222222;
  color:whitesmoke;
}

.page-container {
  margin-right: 8%;
  margin-left: 4%;
}
.bars-vertical {
  width: 100%;
  height: 325px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around;
  align-items:flex-end;
  border-bottom: 1px solid #666;
}

ul.bars-vertical > li {
  min-width: 100px;
  max-width: 150px;
  color: whitesmoke;
  position: relative;
  opacity: 0.9;
}

ul.bars-vertical>li::before,
ul.bars-vertical>li::after {
  position:absolute;
  content: attr(data-label);
  left: 32%;
}

ul.bars-vertical>li::before {
  content:attr(data-label);
  top: -18px;
}
ul.bars-vertical>li::after {
  content:attr(data-value);
  bottom: -10px;
  margin-bottom: -10px;
}

.CON {
  background-color: #0575c9;
}

.LAB {
  background-color: #e91d0e;
}

.LD {
  background-color: #fdfa51;
}

.PC {
  background-color: #008142;
}

.OTH {
  background-color: #ababab;
}

.bars-vertical>li[data-label='CON'] {
  height: 65%;
}

.bars-vertical>li[data-label='LAB'] {
  height: 40%;
}

.bars-vertical>li[data-label='LD'] {
  height: 20%;
}

.bars-vertical>li[data-label='OTH'] {
  height: 2%;
}

div.data-by-seat {
  position: relative;
  width: 70%;
  align-self: center;
}

div.seatpost {
  position: absolute;
  top: 162px;
  height: 1 px;
  width: 100%;
  border: 1px dashed #888;
  z-index: 0;
}

div.seatpost::before {
  content:attr(data-label);
  position: absolute;
  top: -20px;
  right: 0px;
}

table.results-voteshare {
  text-align:center;
}

th.col-party {
  min-width: 100px;
}
th.col-share {
  padding: 10px;
  min-width: 100px;
}
th.col-bar {
  width: 500px;
}
table.results-voteshare>thead>tr {
  background-color:#444444;
  padding:0;
  margin:0;
  box-sizing: border-box;
  color: #aaaaaa;
  text-align:center;
}

div.h-bar {
  transition: width 0.5s;
}

div[data-label='CON'] {
  width:100px;
  height: 20px;
}

div[data-label='LAB'] {
  width:100px;
  height: 20px;
}
div[data-label='LD'] {
  width:100px;
  height: 20px;

}
div[data-label='OTH'] {
  width:100px;
  height: 20px;
}

div[data-label='PC'] {
  width:100px;
  height: 20px;
}

.win {
  animation: pulse .5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}

#party-win {
  padding: 3px;
}


ul.bars-horizontal {
  width: 100%;
  height: 325px;
  display: inline-block;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around;
  align-items:flex-end;
  border-bottom: 1px solid #666;
}

ul.bars-horizontal>li {
  padding-top:10px;
  padding-bottom: 10px;
  color: #bbbbbb;
  position: relative;
  float: left;
  opacity: 0.9;
  text-align: center;
  color: #222;
}
