body {
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: white;
  box-sizing: border-box;
  position: normal;
  background-color: #222222;
  color:whitesmoke;
}

.page-container {
  margin-right: 8%;
  margin-left: 4%;
}
.bars-vertical {
  width: 100%;
  height: 325px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around;
  align-items:flex-end;
  border-bottom: 1px solid #666;
}

ul.bars-vertical > li {
  min-width: 100px;
  max-width: 150px;
  color: whitesmoke;
  position: relative;
  opacity: 0.9;
}

ul.bars-vertical>li::before,
ul.bars-vertical>li::after {
  position:absolute;
  content: attr(data-label);
  left: 32%;
}

ul.bars-vertical>li::before {
  content:attr(data-label);
  top: -18px;
}
ul.bars-vertical>li::after {
  content:attr(data-value);
  bottom: -10px;
  margin-bottom: -10px;
}

li[data-label='CON'] {
  background-color: #0575c9;
}

li[data-label='LAB'] {
background-color: #e91d0e;
}

li[data-label='LD'] {
  background-color: #fdfa51;
}

li[data-label='OTH'] {
  background-color: #ababab;
}

.bars-vertical>li[data-label='CON'] {
  height: 65%;
}

.bars-vertical>li[data-label='LAB'] {
  height: 40%;
}

.bars-vertical>li[data-label='LD'] {
  height: 20%;
}

.bars-vertical>li[data-label='OTH'] {
  height: 2%;
}

div.data-by-seat {
  position: relative;
  width: 70%;
  align-self: center;
}

div.seatpost {
  position: absolute;
  top: 162px;
  height: 1 px;
  width: 100%;
  border: 1px dashed #888;
  z-index: 0;
}

div.seatpost::before {
  content:attr(data-label);
  position: absolute;
  top: -20px;
  right: 0px;
}

ul.bars-horizontal {
  width: 100%;
  height: 325px;
  display: inline-block;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around;
  align-items:flex-end;
  border-bottom: 1px solid #666;
}

ul.bars-horizontal>li {
  height: 30px;
  min-width: 100px;
  max-width: 150px;
  color: whitesmoke;
  position: relative;
  float: left;
  opacity: 0.9;
}

